body {
  /* font-family: Arial, sans-serif; */
  background-image: url(../images/rocks.webp);
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: #555c60;
}
.btn:hover {
  background: #30353d;
}

/* Error Message */
.error-message {
  color: #e63946;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Links */
a {
  color: #30353d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 70%;
  color: #333;
  margin-top: 20px;
}

nav button:hover {
  background: transparent;
  border: 2px solid #d62839;
  color: #d62839;
}

.content {
  text-align: center;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.6);
  padding: 50px;
  font-size: 2rem;
  border-radius: 20px;
  color: #333;
}

 